.card_1{float: left; background: none;}
.card_2{float: left; background:none; margin-left: 10px;}
.card_3{float:left; background: none; margin-left: 10px;}
.card_4{float:left; background:none; margin-left: 10px;}
.card_5{float:left; background: none;margin-left: 10px;}
