.card_1{float: left; background: none;}
.card_2{float: left; background:none; margin-left: -30px; position:relative;}
.card_3{float:left; background: none; margin-left: -30px; position: relative;}
.card_4{float:left; background:none; margin-left: -30px; position: relative;}
.card_5{float:left; background: none;margin-left: -30px; position: relative;}
