.class_for_container{background-color: black;
color: green;
width:400px;
height: 60px;
overflow-y: scroll;}

.for_list{width: 350px;
    list-style-type: upper-roman;
}
.for_second_list{width: 400px;
    list-style-type: lower-roman;}